In [156]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.metrics import mean_squared_error,log_loss
from sklearn.model_selection import KFold
import lightgbm as lgb
from tqdm import tqdm_notebook
import geopandas as gpd

import warnings
warnings.filterwarnings("ignore")

In [157]:
DATA_FOLDER = './input_files/'
OUTPUT_DATA_FOLDER = './output_files/'

sub_df = pd.read_csv(DATA_FOLDER + "SampleSubmission.csv")
wetlands = pd.read_csv(DATA_FOLDER + 'wetlands.csv')

In [160]:
df = pd.read_csv(OUTPUT_DATA_FOLDER + 'model_1_withoutexternal.csv')
df['A'] = pd.read_csv(OUTPUT_DATA_FOLDER + 'model_1_withoutexternal.csv')['target_2019'] 
df['B'] = pd.read_csv(OUTPUT_DATA_FOLDER + 'model_2_withoutexternal.csv')['target_2019']
df['C'] = pd.read_csv(OUTPUT_DATA_FOLDER + 'model_3_withoutexternal.csv')['target_2019']
df['D'] = pd.read_csv(OUTPUT_DATA_FOLDER + 'model_4_withoutexternal.csv')['target_2019']
df[['A', 'B', 'C', 'D']].describe()

                  A             B             C             D
count  16466.000000  16466.000000  16466.000000  16466.000000
mean       0.036397      0.034735      0.034141      0.034581
std        0.142943      0.144535      0.137324      0.138919
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000
75%        0.015750      0.010500      0.015750      0.015750
max        0.940000      0.969000      0.950000      0.950000

In [161]:
df[['A', 'B', 'C', 'D']].corr()

          A         B         C         D
A  1.000000  0.997630  0.992707  0.992174
B  0.997630  1.000000  0.992946  0.991615
C  0.992707  0.992946  1.000000  0.998090
D  0.992174  0.991615  0.998090  1.000000

In [162]:
SUB_FILE_NAME = 'mishra_models_blend_no_external_data.csv'
sub = df[['Square_ID']]
sub['target_2019'] = (df['A'] * 0.85 + df['B'] * 0.15) * 0.65 + (df['C'] * 0.4 + df['D'] * 0.6)*0.35
sub.to_csv(OUTPUT_DATA_FOLDER+SUB_FILE_NAME, index = False)
sub['target_2019'].describe()

count    16466.000000
mean         0.035538
std          0.141197
min          0.000000
25%          0.000000
50%          0.000000
75%          0.015238
max          0.946327
Name: target_2019, dtype: float64

In [163]:
from IPython.display import HTML
def create_download_link(title = "Download CSV file", filename = "data.csv"):  
    html = '<a href={filename}>{title}</a>'
    html = html.format(title=title,filename=filename)
    return HTML(html)
create_download_link(filename = SUB_FILE_NAME)

In [164]:
df = pd.read_csv(OUTPUT_DATA_FOLDER + 'model_1_partial_terra.csv')
df['A'] = pd.read_csv(OUTPUT_DATA_FOLDER + 'model_1_partial_terra.csv')['target_2019'] 
df['B'] = pd.read_csv(OUTPUT_DATA_FOLDER + 'model_2_partial_terra.csv')['target_2019']
df['C'] = pd.read_csv(OUTPUT_DATA_FOLDER + 'model_3_partial_terra.csv')['target_2019']
df['D'] = pd.read_csv(OUTPUT_DATA_FOLDER + 'model_4_partial_terra.csv')['target_2019']
df[['A', 'B', 'C', 'D']].describe()

                  A             B             C             D
count  16466.000000  16466.000000  16466.000000  16466.000000
mean       0.038788      0.038833      0.040282      0.040271
std        0.155528      0.148957      0.155794      0.157151
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000
75%        0.015750      0.010500      0.015750      0.015750
max        1.000000      1.000000      0.950000      0.950000

In [165]:
df[['A', 'B', 'C', 'D']].corr()

          A         B         C         D
A  1.000000  0.980557  0.991729  0.990731
B  0.980557  1.000000  0.978887  0.982918
C  0.991729  0.978887  1.000000  0.993926
D  0.990731  0.982918  0.993926  1.000000

In [166]:
SUB_FILE_NAME = 'mishra_models_blend_partial_terra.csv'
sub = df[['Square_ID']]
sub['target_2019'] = (df['A'] * 0.85 + df['B'] * 0.15) * 0.65 + (df['C'] * 0.4 + df['D'] * 0.6)*0.35
sub.to_csv(OUTPUT_DATA_FOLDER+SUB_FILE_NAME, index = False)
sub['target_2019'].describe()

count    16466.000000
mean         0.039313
std          0.154715
min          0.000000
25%          0.000000
50%          0.000000
75%          0.015238
max          0.982500
Name: target_2019, dtype: float64

In [172]:
BEST_FADHLOUN = pd.read_csv('../ModelsOutputs/bestsub.csv')

In [173]:
BEST_MISHRA = pd.read_csv(OUTPUT_DATA_FOLDER+'mishra_models_blend_no_external_data.csv')

In [174]:
BEST_MISHRA['target_2019'] = BEST_MISHRA['target_2019']*0.4+BEST_FADHLOUN['target_2019']*0.6

In [177]:
BEST_MISHRA.to_csv(OUTPUT_DATA_FOLDER+'0.07195Sub.csv',index=False)

In [178]:
BEST_FADHLOUN =  pd.read_csv('../ModelsOutputs/bestsub.csv')
BEST_MISHRA = pd.read_csv(OUTPUT_DATA_FOLDER+'mishra_models_blend_partial_terra.csv')

In [179]:
BEST_MISHRA['target_2019'] = BEST_MISHRA['target_2019']*0.4+BEST_FADHLOUN['target_2019']*0.6

In [180]:
BEST_MISHRA.to_csv(OUTPUT_DATA_FOLDER+'0.0725Sub.csv',index=False)

In [181]:
BEST = pd.read_csv(OUTPUT_DATA_FOLDER+'0.07195Sub.csv')
Partial_terra = pd.read_csv(OUTPUT_DATA_FOLDER+'0.0725Sub.csv')

In [182]:
BEST['target_2019'] = BEST['target_2019']*0.8 + Partial_terra['target_2019']*0.2

In [184]:
BEST.to_csv(OUTPUT_DATA_FOLDER+'0.07189Sub.csv',index=False)