In [ ]:
!pip install -q --upgrade fastcore fastai

In [ ]:
import fastai
print(fastai.__version__ )

2.6.3

In [ ]:
from fastai.tabular.all import *

In [ ]:
import numpy as np
import pandas as pd 
import lightgbm as lgb
import gc
import math
from fastai.tabular import *
# from fastai.tabular.transform import add_cyclic_datepart
from sklearn import metrics
from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import KFold, StratifiedKFold
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import datetime
from tqdm import tqdm
from tqdm import tqdm_notebook

In [ ]:
def mae(y_true, y_pred):
    return mae(y_true, y_pred)

**Loading datasets from my drive using gdown:**

In [ ]:
!gdown https://drive.google.com/uc?id=1xTlto7tbQijeajjwBMFpBso-jfRsbHya
!unzip /content/layerai-air-quality-prediction-challenge.zip

**Reading the datasets:**

In [ ]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sub  = pd.read_csv('SampleSubmission.csv')

In [ ]:
train.shape, test.shape, sub.shape

((9923, 71), (4254, 70), (4254, 2))

In [ ]:
train.head()

,ID,date,device,site_latitude,site_longitude,humidity,temp_mean,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,...,Cloud_cloud_top_height,Cloud_cloud_base_pressure,Cloud_cloud_base_height,Cloud_cloud_optical_depth,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_sensor_zenith_angle,Cloud_solar_azimuth_angle,Cloud_solar_zenith_angle,pm2_5
0,ID_JBYXJEUZ8X,2020-03-18,ANQ16PZJ,0.353465,32.560322,0.846844,22.038542,-0.000138,1.042629,-0.000143,...,4181.792969,69589.453125,3181.793457,7.799846,0.278111,76.618553,9.970293,-93.110069,19.214193,63.853333
1,ID_PEJJNLBUPR,2019-10-13,AB6051M4,0.390741,32.582257,0.874493,21.545833,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.507083
2,ID_21L8UZQO1T,2019-12-21,A0WN66FH,0.285751,32.578325,0.729340,23.568655,NaN,NaN,NaN,...,4440.391113,67341.109375,3440.390869,62.496590,0.416631,-97.300758,63.690605,-127.856804,40.857922,80.290833
3,ID_GNW2G8J4T8,2020-02-20,aq_41,-1.244985,29.989236,0.919271,16.338542,-0.000111,0.750228,-0.000083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.601687
4,ID_4XOX2V6SK0,2019-04-17,aq_41,-1.244985,29.989236,0.858365,16.602083,-0.000127,0.792634,-0.000101,...,4842.057488,64347.788635,3842.057585,4.971117,0.277157,74.786025,32.583070,-57.273638,21.864529,89.642229

In [ ]:
test.head()

,ID,date,device,site_latitude,site_longitude,humidity,temp_mean,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,...,Cloud_cloud_top_pressure,Cloud_cloud_top_height,Cloud_cloud_base_pressure,Cloud_cloud_base_height,Cloud_cloud_optical_depth,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_sensor_zenith_angle,Cloud_solar_azimuth_angle,Cloud_solar_zenith_angle
0,ID_UOH62J0XHX,2020-10-02,aq_43,0.289040,32.589580,0.756840,23.849653,0.000124,0.839054,0.000104,...,36716.141728,8325.718024,41969.524699,7325.718482,2.632129,0.210430,74.431975,35.449770,-101.546713,21.006060
1,ID_4OPWSB0UHJ,2020-12-07,aq_54,0.356400,32.573000,0.810854,22.075347,NaN,NaN,NaN,...,63086.023438,4060.879639,70871.984375,3060.879639,2.773685,0.344436,-97.300392,63.489811,-125.937134,41.709042
2,ID_3SLMNNG1Z3,2020-11-16,aq_59,0.381576,32.647109,0.883253,20.050694,NaN,NaN,NaN,...,46783.820820,6456.160528,53084.224103,5456.160528,3.862119,0.326882,-97.699519,58.824120,-120.683819,40.183680
3,ID_MFUHTXYPM4,2020-09-05,AW66FF7V,0.379562,32.553714,0.782583,22.248958,0.000176,0.730853,0.000129,...,45528.261719,6682.570801,51503.203125,5682.570801,1.937542,0.212181,75.361595,24.835907,-72.224319,20.675266
4,ID_TY1DAND8ZP,2020-12-15,aq_45,0.344000,32.553000,0.770116,22.565217,NaN,NaN,NaN,...,65512.797785,3757.637022,73461.827324,2757.637022,3.733908,0.262021,76.537080,11.026513,-139.072620,32.046360

In [ ]:
train.isnull().sum()

ID                               0
date                             0
device                           0
site_latitude                    0
site_longitude                   0
                              ...
Cloud_sensor_azimuth_angle    1509
Cloud_sensor_zenith_angle     1509
Cloud_solar_azimuth_angle     1509
Cloud_solar_zenith_angle      1509
pm2_5                            0
Length: 71, dtype: int64

In [ ]:
test.isnull().sum()

ID                              0
date                            0
device                          0
site_latitude                   0
site_longitude                  0
                             ...
Cloud_surface_albedo          515
Cloud_sensor_azimuth_angle    515
Cloud_sensor_zenith_angle     515
Cloud_solar_azimuth_angle     515
Cloud_solar_zenith_angle      515
Length: 70, dtype: int64

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9923 entries, 0 to 9922
Data columns (total 71 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   ID                                                        9923 non-null   object
 1   date                                                      9923 non-null   object
 2   device                                                    9923 non-null   object
 3   site_latitude                                             9923 non-null   float64
 4   site_longitude                                            9923 non-null   float64
 5   humidity                                                  9923 non-null   float64
 6   temp_mean                                                 9903 non-null   float64
 7   SulphurDioxide_SO2_column_number_density                  4291 non-null   float64
 8   SulphurDioxide_SO2_column_number_density_amf              4291 non-null   float64
 9   SulphurDioxide_SO2_slant_column_number_density            4291 non-null   float64
 10  SulphurDioxide_cloud_fraction                             4291 non-null   float64
 11  SulphurDioxide_sensor_azimuth_angle                       4291 non-null   float64
 12  SulphurDioxide_sensor_zenith_angle                        4291 non-null   float64
 13  SulphurDioxide_solar_azimuth_angle                        4291 non-null   float64
 14  SulphurDioxide_solar_zenith_angle                         4291 non-null   float64
 15  SulphurDioxide_SO2_column_number_density_15km             4291 non-null   float64
 16  CarbonMonoxide_CO_column_number_density                   5463 non-null   float64
 17  CarbonMonoxide_H2O_column_number_density                  5463 non-null   float64
 18  CarbonMonoxide_cloud_height                               5463 non-null   float64
 19  CarbonMonoxide_sensor_altitude                            5463 non-null   float64
 20  CarbonMonoxide_sensor_azimuth_angle                       5463 non-null   float64
 21  CarbonMonoxide_sensor_zenith_angle                        5463 non-null   float64
 22  CarbonMonoxide_solar_azimuth_angle                        5463 non-null   float64
 23  CarbonMonoxide_solar_zenith_angle                         5463 non-null   float64
 24  NitrogenDioxide_NO2_column_number_density                 3005 non-null   float64
 25  NitrogenDioxide_tropospheric_NO2_column_number_density    3005 non-null   float64
 26  NitrogenDioxide_stratospheric_NO2_column_number_density   3005 non-null   float64
 27  NitrogenDioxide_NO2_slant_column_number_density           3005 non-null   float64
 28  NitrogenDioxide_tropopause_pressure                       3005 non-null   float64
 29  NitrogenDioxide_absorbing_aerosol_index                   3005 non-null   float64
 30  NitrogenDioxide_cloud_fraction                            3005 non-null   float64
 31  NitrogenDioxide_sensor_altitude                           3005 non-null   float64
 32  NitrogenDioxide_sensor_azimuth_angle                      3005 non-null   float64
 33  NitrogenDioxide_sensor_zenith_angle                       3005 non-null   float64
 34  NitrogenDioxide_solar_azimuth_angle                       3005 non-null   float64
 35  NitrogenDioxide_solar_zenith_angle                        3005 non-null   float64
 36  Formaldehyde_tropospheric_HCHO_column_number_density      5277 non-null   float64
 37  Formaldehyde_tropospheric_HCHO_column_number_density_amf  5277 non-null   float64
 38  Formaldehyde_HCHO_slant_column_number_density             5277 non-null   float64
 39  Formaldehyde_cloud_fraction                               5277 non-null   float64
 40  Formaldehyde_solar_zenith_angle                           5277 non-null   float64
 41  Formaldehyde_solar_azimuth_angle                          5277 non-null   float64
 42  Formaldehyde_sensor_zenith_angle                          5277 non-null   float64
 43  Formaldehyde_sensor_azimuth_angle                         5277 non-null   float64
 44  UvAerosolIndex_absorbing_aerosol_index                    9588 non-null   float64
 45  UvAerosolIndex_sensor_altitude                            9588 non-null   float64
 46  UvAerosolIndex_sensor_azimuth_angle                       9588 non-null   float64
 47  UvAerosolIndex_sensor_zenith_angle                        9588 non-null   float64
 48  UvAerosolIndex_solar_azimuth_angle                        9588 non-null   float64
 49  UvAerosolIndex_solar_zenith_angle                         9588 non-null   float64
 50  Ozone_O3_column_number_density                            9387 non-null   float64
 51  Ozone_O3_column_number_density_amf                        9387 non-null   float64
 52  Ozone_O3_slant_column_number_density                      9387 non-null   float64
 53  Ozone_O3_effective_temperature                            9387 non-null   float64
 54  Ozone_cloud_fraction                                      9387 non-null   float64
 55  Ozone_sensor_azimuth_angle                                9387 non-null   float64
 56  Ozone_sensor_zenith_angle                                 9387 non-null   float64
 57  Ozone_solar_azimuth_angle                                 9387 non-null   float64
 58  Ozone_solar_zenith_angle                                  9387 non-null   float64
 59  Cloud_cloud_fraction                                      8414 non-null   float64
 60  Cloud_cloud_top_pressure                                  8414 non-null   float64
 61  Cloud_cloud_top_height                                    8414 non-null   float64
 62  Cloud_cloud_base_pressure                                 8414 non-null   float64
 63  Cloud_cloud_base_height                                   8414 non-null   float64
 64  Cloud_cloud_optical_depth                                 8414 non-null   float64
 65  Cloud_surface_albedo                                      8414 non-null   float64
 66  Cloud_sensor_azimuth_angle                                8414 non-null   float64
 67  Cloud_sensor_zenith_angle                                 8414 non-null   float64
 68  Cloud_solar_azimuth_angle                                 8414 non-null   float64
 69  Cloud_solar_zenith_angle                                  8414 non-null   float64
 70  pm2_5                                                     9923 non-null   float64
dtypes: float64(68), object(3)
memory usage: 5.4+ MB

In [ ]:
# covert features  fron string to List of values 
def replace_nan(x):
    if x=="nan":
        return np.nan
    else :
        return float(x)

In [ ]:
features=["humidity","temp_mean"]

def percentile(n):
    def percentile_(x):
        return np.percentile(x, n)
    percentile_.__name__ = 'percentile_%s' % n
    return percentile_

In [ ]:
def aggregate_features(x,col_name):
    x["max_"+col_name]=x[col_name].apply(np.max)
    x["min_"+col_name]=x[col_name].apply(np.min)
    x["mean_"+col_name]=x[col_name].apply(np.mean)
    x["std_"+col_name]=x[col_name].apply(np.std)
    x["var_"+col_name]=x[col_name].apply(np.var)
    x["median_"+col_name]=x[col_name].apply(np.median)
    x["ptp_"+col_name]=x[col_name].apply(np.ptp)
    x["p1_"+col_name]=x[col_name].apply(percentile(1))
    x["p5_"+col_name]=x[col_name].apply(percentile(5))
    x["p10_"+col_name]=x[col_name].apply(percentile(10))
    x["p20_"+col_name]=x[col_name].apply(percentile(20))
    x["p30_"+col_name]=x[col_name].apply(percentile(30))
    x["p40_"+col_name]=x[col_name].apply(percentile(40))
    x["p60_"+col_name]=x[col_name].apply(percentile(60))
    x["p70_"+col_name]=x[col_name].apply(percentile(70))
    x["p80_"+col_name]=x[col_name].apply(percentile(80))
    x["p90_"+col_name]=x[col_name].apply(percentile(90))
    x["p95_"+col_name]=x[col_name].apply(percentile(95))
    x["p99_"+col_name]=x[col_name].apply(percentile(99))
    return x  
def remove_nan_values(x):
    return [e for e in x if not math.isnan(e)]

In [ ]:
for col_name in tqdm(features):
    train=aggregate_features(train,col_name)
    test=aggregate_features(test,col_name)

100%|██████████| 2/2 [00:28<00:00, 14.21s/it]

In [ ]:
train[['temp_mean']].isnull().sum()

temp_mean    20
dtype: int64

In [ ]:
cols_to_fillna=["temp_mean"]                  

for i in cols_to_fillna:
    train[i].fillna(np.mean(train[i]),inplace=True)
    test[i].fillna(np.mean(test[i]),inplace=True)

In [ ]:
train.head()

,ID,date,device,site_latitude,site_longitude,humidity,temp_mean,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,...,p10_temp_mean,p20_temp_mean,p30_temp_mean,p40_temp_mean,p60_temp_mean,p70_temp_mean,p80_temp_mean,p90_temp_mean,p95_temp_mean,p99_temp_mean
0,ID_JBYXJEUZ8X,2020-03-18,ANQ16PZJ,0.353465,32.560322,0.846844,22.038542,-0.000138,1.042629,-0.000143,...,22.038542,22.038542,22.038542,22.038542,22.038542,22.038542,22.038542,22.038542,22.038542,22.038542
1,ID_PEJJNLBUPR,2019-10-13,AB6051M4,0.390741,32.582257,0.874493,21.545833,NaN,NaN,NaN,...,21.545833,21.545833,21.545833,21.545833,21.545833,21.545833,21.545833,21.545833,21.545833,21.545833
2,ID_21L8UZQO1T,2019-12-21,A0WN66FH,0.285751,32.578325,0.729340,23.568655,NaN,NaN,NaN,...,23.568655,23.568655,23.568655,23.568655,23.568655,23.568655,23.568655,23.568655,23.568655,23.568655
3,ID_GNW2G8J4T8,2020-02-20,aq_41,-1.244985,29.989236,0.919271,16.338542,-0.000111,0.750228,-0.000083,...,16.338542,16.338542,16.338542,16.338542,16.338542,16.338542,16.338542,16.338542,16.338542,16.338542
4,ID_4XOX2V6SK0,2019-04-17,aq_41,-1.244985,29.989236,0.858365,16.602083,-0.000127,0.792634,-0.000101,...,16.602083,16.602083,16.602083,16.602083,16.602083,16.602083,16.602083,16.602083,16.602083,16.602083

**Converting to datetime to use date features.**

In [ ]:
train[['date']].head()

         date
0  2020-03-18
1  2019-10-13
2  2019-12-21
3  2020-02-20
4  2019-04-17

In [ ]:
train['date'] =  pd.to_datetime(train['date'], format='%Y-%m-%d')
test['date'] =  pd.to_datetime(test['date'], format='%Y-%m-%d')

**Center of the city**

In [ ]:
from geopy.geocoders import Nominatim
import time
from pprint import pprint

app = Nominatim(user_agent="tutorial")
# get location raw data
location = app.geocode("Kampala, Uganda").raw
# print raw data
pprint(location)

{'boundingbox': ['0.2143567', '0.4057676', '32.5098753', '32.6687413'],
 'class': 'boundary',
 'display_name': 'Kampala Capital City, Kampala, Central Region, Uganda',
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png',
 'importance': 0.7925411725065692,
 'lat': '0.3177137',
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. '
            'https://osm.org/copyright',
 'lon': '32.5813539',
 'osm_id': 10546821,
 'osm_type': 'relation',
 'place_id': 285843136,
 'type': 'administrative'}

In [ ]:
def add_center_feature(df):
    site_latitude = float(location['lat'])
    site_longitude = float(location['lon'])
    df['center_lat'] = [site_latitude] * df.shape[0]
    df['center_long'] = [site_longitude] * df.shape[0]
    return df

add_center_feature(train);
add_center_feature(test);

In [ ]:
ID_COL, TARGET_COL = 'ID', 'pm2_5'
df = pd.concat([train, test]).reset_index(drop=True)
features = [c for c in df.columns if c not in ['ID', 'date', 'pm2_5']]

**Checking out the City Location:**

In [ ]:
!pip install astral==2.2 --quiet

In [ ]:
import astral
from astral.sun import zenith_and_azimuth, elevation
from astral.geocoder import database, lookup
city = lookup("Kampala", database())
city

LocationInfo(name='Kampala', region='Uganda', timezone='Africa/Kampala', latitude=0.3333333333333333, longitude=32.5)

#Time Series Features
A. Using Previous and Future Target Values.
Pollution levels yesterday could tell about the pollution levels today, similary pollution levels tomorrow, could also tell about pollution levels today. We add this information to our dataset, using shift and expanding functions

In [ ]:
for i in range(1, 20):
    df[f'prev_target_{i}'] = df.sort_values(by='date')[TARGET_COL].fillna(method='ffill').shift(i).sort_index()
    df[f'next_target_{i}'] = df.sort_values(by='date')[TARGET_COL].fillna(method='bfill').shift(-i).sort_index()

for i in tqdm_notebook(range(1, 15)):
    df[f'magic_{i}'] = df.sort_values(by='date')[TARGET_COL].shift(i).expanding().mean().fillna(method='ffill').sort_index()
    df[f'magic2_{i}'] = df.sort_values(by='date')[TARGET_COL].shift(-i).expanding().mean().fillna(method='bfill').sort_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """

  0%|          | 0/14 [00:00<?, ?it/s]

#B. Cyclic Components
Date has cyclic components, for example monday repeats after every 7 days, adding this as a feature can help capture more information from the dataset.

To read more visit:

https://docs.fast.ai/tabular.transform.html#add_cyclic_datepart

In [ ]:
# add_datepart(df_raw, 'saledate', drop=False)

In [ ]:
df['date'] = df['date'].astype('datetime64')

# # use sin and cos to capture cyclic pattern
diff = df['date'] - min(df['date'])

# # yearly pattern
days = diff.dt.days
df['year_1_sin'] = np.sin(2 * math.pi * days / (365 * 1)) 
df['year_1_cos'] = np.cos(2 * math.pi * days / (365 * 1))
df['year_2_sin'] = np.sin(2 * math.pi * days / (365 * 2)) 
df['year_2_cos'] = np.cos(2 * math.pi * days / (365 * 2)) 
df['year_3_sin'] = np.sin(2 * math.pi * days / (365 * 3)) 
df['year_3_cos'] = np.cos(2 * math.pi * days / (365 * 3)) 
df['year_4_sin'] = np.sin(2 * math.pi * days / (365 * 4)) 
df['year_4_cos'] = np.cos(2 * math.pi * days / (365 * 4)) 

# # daily pattern
seconds = diff.dt.seconds
df['day_1_sin'] = np.sin(2 * math.pi * seconds / ( 3600 * 24 * 1))
df['day_1_cos'] = np.cos(2 * math.pi * seconds / ( 3600 * 24 * 1))
df['day_2_sin'] = np.sin(2 * math.pi * seconds / ( 3600 * 24 * 2))
df['day_2_cos'] = np.cos(2 * math.pi * seconds / ( 3600 * 24 * 2))
df['day_7_sin'] = np.sin(2 * math.pi * seconds / ( 3600 * 24 * 7))
df['day_7_cos'] = np.cos(2 * math.pi * seconds / ( 3600 * 24 * 7))

#Manhattan distnace

In [ ]:
def manhattan_distance(lat,lon):
    a = np.abs(lat -lon)
    return a
df['manhattan_dist'] = manhattan_distance(df['site_latitude'].values, df['site_longitude'].values,)

#Bearing

In [ ]:
def bearing_array(lat, lng):
    AVG_EARTH_RADIUS = 6371  # in km
    lng_delta_rad = np.radians(lat - lng)
    lat, lng = map(np.radians, (lat, lng))
    y = np.sin(lng_delta_rad) * np.cos(lat)
    x = np.cos(lat) * np.sin(lat) - np.sin(lng) * np.cos(lng) * np.cos(lng_delta_rad)
    return np.degrees(np.arctan2(y, x))
df['bearing'] = bearing_array(df['site_latitude'].values, df['site_longitude'].values,)
df.head()

,ID,date,device,site_latitude,site_longitude,humidity,temp_mean,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,...,year_4_sin,year_4_cos,day_1_sin,day_1_cos,day_2_sin,day_2_cos,day_7_sin,day_7_cos,manhattan_dist,bearing
0,ID_JBYXJEUZ8X,2020-03-18,ANQ16PZJ,0.353465,32.560322,0.846844,22.038542,-0.000138,1.042629,-0.000143,...,0.999769,-0.021516,0.0,1.0,0.0,1.0,0.0,1.0,32.206858,-125.319438
1,ID_PEJJNLBUPR,2019-10-13,AB6051M4,0.390741,32.582257,0.874493,21.545833,NaN,NaN,NaN,...,0.793572,0.608477,0.0,1.0,0.0,1.0,0.0,1.0,32.191516,-125.298847
2,ID_21L8UZQO1T,2019-12-21,A0WN66FH,0.285751,32.578325,0.729340,23.568655,NaN,NaN,NaN,...,0.936881,0.349647,0.0,1.0,0.0,1.0,0.0,1.0,32.292575,-125.321748
3,ID_GNW2G8J4T8,2020-02-20,aq_41,-1.244985,29.989236,0.919271,16.338542,-0.000111,0.750228,-0.000083,...,0.995521,0.094537,0.0,1.0,0.0,1.0,0.0,1.0,31.234221,-127.087130
4,ID_4XOX2V6SK0,2019-04-17,aq_41,-1.244985,29.989236,0.858365,16.602083,-0.000127,0.792634,-0.000101,...,0.145799,0.989314,0.0,1.0,0.0,1.0,0.0,1.0,31.234221,-127.087130

# Using simple features extracted from the date itself.
Like dayofweek, weekend or not, month, days_in_month, etc.

In [ ]:
for attr in ['day', 'year', 'hour', 'month', 'week', 'dayofweek', 'weekofyear', 'days_in_month', 'is_month_start', 'is_month_end', 'dayofyear']:
    df[attr] = getattr(df['date'].dt, attr)
df['is_weekend'] = (df['dayofweek'] >= 5)*1
df['fortnight'] = df['day']%15
df['3h'] = (df['hour']/ 3).astype(int)* 3  # Creating 3hours time based features
df['which_fortnight'] = df['day']//15

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [ ]:
df = df.drop(['date'], axis=1)

**Adding Solar azimuth, zenith and elevation features:**

In [ ]:
def add_zenith_azimuth_elevation_feature(df):
    import datetime
    zen = []
    azi = []                      
    ele = []
    for i in tqdm(range(df.shape[0])):
        ze, az =  zenith_and_azimuth(city.observer, datetime.datetime(df.year[i], df.month[i], df.day[i], df.hour[i]))
        el = elevation(city.observer, datetime.datetime(df.year[i], df.month[i], df.day[i], df.hour[i]))
        zen.append(ze)
        azi.append(az)
        ele.append(el)
    df['elevation'] = ele
    df['azimuth'] = azi
    df['zenith'] = zen
    return df

add_zenith_azimuth_elevation_feature(df);

100%|██████████| 14177/14177 [00:01<00:00, 9529.06it/s]

**Adding holiday features:**

In [ ]:
!pip install holidays --quiet
import holidays
from datetime import date

In [ ]:
def add_holiday_feature(df):
  ZA_holidays = holidays.ZA()
  list_of_holidays = [int(date(df.year[i], df.month[i], df.day[i]) in ZA_holidays) for i in range(df.shape[0])]
  df['national_holiday'] = list_of_holidays
  return df

add_holiday_feature(df)

,ID,device,site_latitude,site_longitude,humidity,temp_mean,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,...,is_month_end,dayofyear,is_weekend,fortnight,3h,which_fortnight,elevation,azimuth,zenith,national_holiday
0,ID_JBYXJEUZ8X,ANQ16PZJ,0.353465,32.560322,0.846844,22.038542,-0.000138,1.042629,-0.000143,0.291358,...,False,78,0,3,0,1,-59.503627,91.118398,149.503627,0
1,ID_PEJJNLBUPR,AB6051M4,0.390741,32.582257,0.874493,21.545833,NaN,NaN,NaN,NaN,...,False,286,1,13,0,0,-53.487793,102.346188,143.487793,0
2,ID_21L8UZQO1T,A0WN66FH,0.285751,32.578325,0.729340,23.568655,NaN,NaN,NaN,NaN,...,False,355,1,6,0,1,-50.452504,128.137142,140.452504,0
3,ID_GNW2G8J4T8,aq_41,-1.244985,29.989236,0.919271,16.338542,-0.000111,0.750228,-0.000083,0.000000,...,False,51,0,5,0,1,-59.173639,111.651395,149.173639,0
4,ID_4XOX2V6SK0,aq_41,-1.244985,29.989236,0.858365,16.602083,-0.000127,0.792634,-0.000101,0.087338,...,False,107,0,2,0,1,-55.906514,70.885679,145.906514,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14172,ID_NYKGOYFBKZ,aq_76,0.357987,32.584100,0.786575,23.790833,NaN,NaN,NaN,NaN,...,False,238,0,10,0,1,-56.357341,69.943389,146.357341,0
14173,ID_IWO4EVLHSQ,AB6051M4,0.390741,32.582257,0.828441,21.801389,NaN,NaN,NaN,NaN,...,False,234,0,6,0,1,-56.178598,67.473870,146.178598,0
14174,ID_G1M1IMY9WU,AB6051M4,0.390741,32.582257,0.859490,21.851042,NaN,NaN,NaN,NaN,...,False,312,1,7,0,0,-50.536012,115.833724,140.536012,0
14175,ID_DXV65Q1QXI,aq_61,0.373078,32.628226,0.833803,21.948864,NaN,NaN,NaN,NaN,...,False,254,0,10,0,0,-56.386007,80.722598,146.386007,0
14176,ID_RY4ONQKO9E,aq_30,0.059604,32.460320,0.783191,22.004514,0.000073,0.745486,0.000054,0.215744,...,False,277,1,3,0,0,-54.594173,96.540979,144.594173,0

**Separating Train and Test sets:**

In [ ]:
train = df[:train.shape[0]].reset_index(drop=True)
test = df[train.shape[0]:].reset_index(drop=True)

target = train[TARGET_COL]

In [ ]:
train.shape, test.shape

((9923, 211), (4254, 211))

In [ ]:
train.head()

,ID,device,site_latitude,site_longitude,humidity,temp_mean,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,...,is_month_end,dayofyear,is_weekend,fortnight,3h,which_fortnight,elevation,azimuth,zenith,national_holiday
0,ID_JBYXJEUZ8X,ANQ16PZJ,0.353465,32.560322,0.846844,22.038542,-0.000138,1.042629,-0.000143,0.291358,...,False,78,0,3,0,1,-59.503627,91.118398,149.503627,0
1,ID_PEJJNLBUPR,AB6051M4,0.390741,32.582257,0.874493,21.545833,NaN,NaN,NaN,NaN,...,False,286,1,13,0,0,-53.487793,102.346188,143.487793,0
2,ID_21L8UZQO1T,A0WN66FH,0.285751,32.578325,0.729340,23.568655,NaN,NaN,NaN,NaN,...,False,355,1,6,0,1,-50.452504,128.137142,140.452504,0
3,ID_GNW2G8J4T8,aq_41,-1.244985,29.989236,0.919271,16.338542,-0.000111,0.750228,-0.000083,0.000000,...,False,51,0,5,0,1,-59.173639,111.651395,149.173639,0
4,ID_4XOX2V6SK0,aq_41,-1.244985,29.989236,0.858365,16.602083,-0.000127,0.792634,-0.000101,0.087338,...,False,107,0,2,0,1,-55.906514,70.885679,145.906514,0

In [ ]:
test.head()

,ID,device,site_latitude,site_longitude,humidity,temp_mean,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,...,is_month_end,dayofyear,is_weekend,fortnight,3h,which_fortnight,elevation,azimuth,zenith,national_holiday
0,ID_UOH62J0XHX,aq_43,0.289040,32.589580,0.756840,23.849653,0.000124,0.839054,0.000104,0.063487,...,False,276,0,2,0,0,-54.705783,95.886742,144.705783,0
1,ID_4OPWSB0UHJ,aq_54,0.356400,32.573000,0.810854,22.075347,NaN,NaN,NaN,NaN,...,False,342,0,7,0,0,-49.605237,125.943621,139.605237,0
2,ID_3SLMNNG1Z3,aq_59,0.381576,32.647109,0.883253,20.050694,NaN,NaN,NaN,NaN,...,False,321,0,1,0,1,-49.872542,119.536970,139.872542,0
3,ID_MFUHTXYPM4,AW66FF7V,0.379562,32.553714,0.782583,22.248958,0.000176,0.730853,0.000129,0.085770,...,False,249,1,5,0,0,-56.499584,77.247031,146.499584,0
4,ID_TY1DAND8ZP,aq_45,0.344000,32.553000,0.770116,22.565217,NaN,NaN,NaN,NaN,...,False,350,0,0,0,1,-50.024360,127.459473,140.024360,0

In [ ]:
numerical_feats= train.dtypes[train.dtypes != "object"].index; numerical_feats

Index(['site_latitude', 'site_longitude', 'humidity', 'temp_mean',
       'SulphurDioxide_SO2_column_number_density',
       'SulphurDioxide_SO2_column_number_density_amf',
       'SulphurDioxide_SO2_slant_column_number_density',
       'SulphurDioxide_cloud_fraction', 'SulphurDioxide_sensor_azimuth_angle',
       'SulphurDioxide_sensor_zenith_angle',
       ...
       'is_month_end', 'dayofyear', 'is_weekend', 'fortnight', '3h',
       'which_fortnight', 'elevation', 'azimuth', 'zenith',
       'national_holiday'],
      dtype='object', length=209)

In [ ]:
categorical_feats= train.dtypes[train.dtypes == "object"].index; categorical_feats

Index(['ID', 'device'], dtype='object')

In [ ]:
train_id = train['ID']
test_id = test['ID']
y = train['pm2_5']

In [ ]:
!pip install category_encoders --quiet

In [ ]:
import category_encoders as ce
encoder = ce.CatBoostEncoder(cols=['device'])
encoder.fit(train, y)
train = encoder.transform(train)
test = encoder.transform(test)

CatBoostEncoder(cols=['device'])

In [ ]:
train.shape,test.shape

((9923, 211), (4254, 211))

In [ ]:
train.head()

,ID,device,site_latitude,site_longitude,humidity,temp_mean,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,...,is_month_end,dayofyear,is_weekend,fortnight,3h,which_fortnight,elevation,azimuth,zenith,national_holiday
0,ID_JBYXJEUZ8X,69.532179,0.353465,32.560322,0.846844,22.038542,-0.000138,1.042629,-0.000143,0.291358,...,False,78,0,3,0,1,-59.503627,91.118398,149.503627,0
1,ID_PEJJNLBUPR,60.356548,0.390741,32.582257,0.874493,21.545833,NaN,NaN,NaN,NaN,...,False,286,1,13,0,0,-53.487793,102.346188,143.487793,0
2,ID_21L8UZQO1T,59.221183,0.285751,32.578325,0.729340,23.568655,NaN,NaN,NaN,NaN,...,False,355,1,6,0,1,-50.452504,128.137142,140.452504,0
3,ID_GNW2G8J4T8,62.146021,-1.244985,29.989236,0.919271,16.338542,-0.000111,0.750228,-0.000083,0.000000,...,False,51,0,5,0,1,-59.173639,111.651395,149.173639,0
4,ID_4XOX2V6SK0,62.146021,-1.244985,29.989236,0.858365,16.602083,-0.000127,0.792634,-0.000101,0.087338,...,False,107,0,2,0,1,-55.906514,70.885679,145.906514,0

#Get rid of "Highly Correlated Features":

In [ ]:
features = train.columns

num_feature = [col for col in features if col not in ['ID','pm2_5','date']] 
drop_columns=[]
corr = train[num_feature].corr()
# Drop highly correlated features 
columns = np.full((corr.shape[0],), True, dtype=bool)

for i in range(corr.shape[0]):
    for j in range(i+1, corr.shape[0]):
        if corr.iloc[i,j] >=0.999 :
            if columns[j]:
                columns[j] = False
                print('FEAT_A: {} FEAT_B: {} - Correlation: {}'.format(train[num_feature].columns[i] , train[num_feature].columns[j], corr.iloc[i,j]))
        elif corr.iloc[i,j] <= -0.995:
            if columns[j]:
                columns[j] = False

drop_columns = train[num_feature].columns[columns == False].values
print('drop_columns',len(drop_columns),drop_columns)

FEAT_A: site_longitude FEAT_B: bearing - Correlation: 0.9995057906894059
FEAT_A: humidity FEAT_B: max_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: min_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: mean_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: median_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p1_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p5_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p10_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p20_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p30_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p40_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p60_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p70_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p80_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p90_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p95_humidity - Correlation: 1.0
FEAT_A: humidity FEAT_B: p99_humidity - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: max_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: min_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: mean_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: median_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p1_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p5_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p10_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p20_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p30_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p40_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p60_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p70_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p80_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p90_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p95_temp_mean - Correlation: 1.0
FEAT_A: temp_mean FEAT_B: p99_temp_mean - Correlation: 1.0
FEAT_A: SulphurDioxide_sensor_azimuth_angle FEAT_B: NitrogenDioxide_sensor_azimuth_angle - Correlation: 0.9999999993102907
FEAT_A: SulphurDioxide_sensor_azimuth_angle FEAT_B: Formaldehyde_sensor_azimuth_angle - Correlation: 0.9999999987409561
FEAT_A: SulphurDioxide_sensor_azimuth_angle FEAT_B: UvAerosolIndex_sensor_azimuth_angle - Correlation: 0.9999999987977828
FEAT_A: SulphurDioxide_sensor_azimuth_angle FEAT_B: Ozone_sensor_azimuth_angle - Correlation: 0.9999999987998934
FEAT_A: SulphurDioxide_sensor_azimuth_angle FEAT_B: Cloud_sensor_azimuth_angle - Correlation: 0.9999999829639353
FEAT_A: SulphurDioxide_sensor_zenith_angle FEAT_B: CarbonMonoxide_sensor_zenith_angle - Correlation: 0.9999527444437013
FEAT_A: SulphurDioxide_sensor_zenith_angle FEAT_B: NitrogenDioxide_sensor_zenith_angle - Correlation: 0.9999991036398537
FEAT_A: SulphurDioxide_sensor_zenith_angle FEAT_B: Formaldehyde_sensor_zenith_angle - Correlation: 0.9999979565203736
FEAT_A: SulphurDioxide_sensor_zenith_angle FEAT_B: UvAerosolIndex_sensor_zenith_angle - Correlation: 0.9999978676861522
FEAT_A: SulphurDioxide_sensor_zenith_angle FEAT_B: Ozone_sensor_zenith_angle - Correlation: 0.9999978745162574
FEAT_A: SulphurDioxide_sensor_zenith_angle FEAT_B: Cloud_sensor_zenith_angle - Correlation: 0.9999936455828258
FEAT_A: SulphurDioxide_solar_azimuth_angle FEAT_B: CarbonMonoxide_solar_azimuth_angle - Correlation: 0.9999987232795436
FEAT_A: SulphurDioxide_solar_azimuth_angle FEAT_B: NitrogenDioxide_solar_azimuth_angle - Correlation: 0.9999999590605106
FEAT_A: SulphurDioxide_solar_azimuth_angle FEAT_B: Formaldehyde_solar_azimuth_angle - Correlation: 0.9999999027154388
FEAT_A: SulphurDioxide_solar_azimuth_angle FEAT_B: UvAerosolIndex_solar_azimuth_angle - Correlation: 0.9999998989091523
FEAT_A: SulphurDioxide_solar_azimuth_angle FEAT_B: Ozone_solar_azimuth_angle - Correlation: 0.9999999009020163
FEAT_A: SulphurDioxide_solar_azimuth_angle FEAT_B: Cloud_solar_azimuth_angle - Correlation: 0.9999997396032387
FEAT_A: SulphurDioxide_solar_zenith_angle FEAT_B: CarbonMonoxide_solar_zenith_angle - Correlation: 0.9999861168950501
FEAT_A: SulphurDioxide_solar_zenith_angle FEAT_B: NitrogenDioxide_solar_zenith_angle - Correlation: 0.9999996938938931
FEAT_A: SulphurDioxide_solar_zenith_angle FEAT_B: Formaldehyde_solar_zenith_angle - Correlation: 0.9999993907579894
FEAT_A: SulphurDioxide_solar_zenith_angle FEAT_B: UvAerosolIndex_solar_zenith_angle - Correlation: 0.9999993281992716
FEAT_A: SulphurDioxide_solar_zenith_angle FEAT_B: Ozone_solar_zenith_angle - Correlation: 0.999999325980916
FEAT_A: SulphurDioxide_solar_zenith_angle FEAT_B: Cloud_solar_zenith_angle - Correlation: 0.9999981553084905
FEAT_A: CarbonMonoxide_sensor_altitude FEAT_B: NitrogenDioxide_sensor_altitude - Correlation: 0.9990283821391648
FEAT_A: CarbonMonoxide_sensor_altitude FEAT_B: UvAerosolIndex_sensor_altitude - Correlation: 0.999179506550772
FEAT_A: NitrogenDioxide_absorbing_aerosol_index FEAT_B: UvAerosolIndex_absorbing_aerosol_index - Correlation: 0.9999033984734089
FEAT_A: magic_1 FEAT_B: magic2_1 - Correlation: 0.9996411432215101
FEAT_A: magic_1 FEAT_B: magic_2 - Correlation: 0.9998587919246075
FEAT_A: magic_1 FEAT_B: magic2_2 - Correlation: 0.9991677176325257
FEAT_A: magic_1 FEAT_B: magic_3 - Correlation: 0.9997239297142747
FEAT_A: magic_1 FEAT_B: magic_4 - Correlation: 0.9995713471696496
FEAT_A: magic_1 FEAT_B: magic_5 - Correlation: 0.9994024904175743
FEAT_A: magic_1 FEAT_B: magic_6 - Correlation: 0.9991989669791841
FEAT_A: magic2_1 FEAT_B: magic2_4 - Correlation: 0.9992905782793085
FEAT_A: magic_2 FEAT_B: magic_7 - Correlation: 0.9991989537058776
FEAT_A: magic2_2 FEAT_B: magic2_3 - Correlation: 0.999591155468639
FEAT_A: magic2_2 FEAT_B: magic2_5 - Correlation: 0.9991094617758461
FEAT_A: magic_3 FEAT_B: magic_8 - Correlation: 0.9991989404402674
FEAT_A: magic_4 FEAT_B: magic_9 - Correlation: 0.9991989271194163
FEAT_A: magic2_4 FEAT_B: magic2_6 - Correlation: 0.9995730438511011
FEAT_A: magic2_4 FEAT_B: magic2_7 - Correlation: 0.9991865425433255
FEAT_A: magic_5 FEAT_B: magic_10 - Correlation: 0.9991989137892061
FEAT_A: magic_6 FEAT_B: magic_11 - Correlation: 0.9991989004131814
FEAT_A: magic2_6 FEAT_B: magic2_8 - Correlation: 0.9993272354551563
FEAT_A: magic_7 FEAT_B: magic_12 - Correlation: 0.9991988870339371
FEAT_A: magic2_7 FEAT_B: magic2_9 - Correlation: 0.999015720369969
FEAT_A: magic_8 FEAT_B: magic_13 - Correlation: 0.99919887357914
FEAT_A: magic_9 FEAT_B: magic_14 - Correlation: 0.9991988601100869
FEAT_A: magic2_9 FEAT_B: magic2_10 - Correlation: 0.9996525295493333
FEAT_A: magic2_9 FEAT_B: magic2_11 - Correlation: 0.9994114368626631
FEAT_A: magic2_10 FEAT_B: magic2_12 - Correlation: 0.9991813125776574
FEAT_A: magic2_11 FEAT_B: magic2_13 - Correlation: 0.9992297865310155
FEAT_A: week FEAT_B: weekofyear - Correlation: 1.0
drop_columns 87 ['CarbonMonoxide_sensor_zenith_angle' 'CarbonMonoxide_solar_azimuth_angle'
 'CarbonMonoxide_solar_zenith_angle' 'NitrogenDioxide_sensor_altitude'
 'NitrogenDioxide_sensor_azimuth_angle'
 'NitrogenDioxide_sensor_zenith_angle'
 'NitrogenDioxide_solar_azimuth_angle'
 'NitrogenDioxide_solar_zenith_angle' 'Formaldehyde_solar_zenith_angle'
 'Formaldehyde_solar_azimuth_angle' 'Formaldehyde_sensor_zenith_angle'
 'Formaldehyde_sensor_azimuth_angle'
 'UvAerosolIndex_absorbing_aerosol_index' 'UvAerosolIndex_sensor_altitude'
 'UvAerosolIndex_sensor_azimuth_angle'
 'UvAerosolIndex_sensor_zenith_angle' 'UvAerosolIndex_solar_azimuth_angle'
 'UvAerosolIndex_solar_zenith_angle' 'Ozone_sensor_azimuth_angle'
 'Ozone_sensor_zenith_angle' 'Ozone_solar_azimuth_angle'
 'Ozone_solar_zenith_angle' 'Cloud_sensor_azimuth_angle'
 'Cloud_sensor_zenith_angle' 'Cloud_solar_azimuth_angle'
 'Cloud_solar_zenith_angle' 'max_humidity' 'min_humidity' 'mean_humidity'
 'median_humidity' 'p1_humidity' 'p5_humidity' 'p10_humidity'
 'p20_humidity' 'p30_humidity' 'p40_humidity' 'p60_humidity'
 'p70_humidity' 'p80_humidity' 'p90_humidity' 'p95_humidity'
 'p99_humidity' 'max_temp_mean' 'min_temp_mean' 'mean_temp_mean'
 'median_temp_mean' 'p1_temp_mean' 'p5_temp_mean' 'p10_temp_mean'
 'p20_temp_mean' 'p30_temp_mean' 'p40_temp_mean' 'p60_temp_mean'
 'p70_temp_mean' 'p80_temp_mean' 'p90_temp_mean' 'p95_temp_mean'
 'p99_temp_mean' 'magic2_1' 'magic_2' 'magic2_2' 'magic_3' 'magic2_3'
 'magic_4' 'magic2_4' 'magic_5' 'magic2_5' 'magic_6' 'magic2_6' 'magic_7'
 'magic2_7' 'magic_8' 'magic2_8' 'magic_9' 'magic2_9' 'magic_10'
 'magic2_10' 'magic_11' 'magic2_11' 'magic_12' 'magic2_12' 'magic_13'
 'magic2_13' 'magic_14' 'bearing' 'weekofyear' 'zenith']

In [ ]:
train.drop(drop_columns,inplace=True,axis =1 )
test.drop(drop_columns,inplace=True,axis =1 )

**Check and remove any constant features present inside the dataset**

In [ ]:
features2 = train.columns

cols = [col for col in features2 if col not in ['ID','pm2_5']]

# Check and remove constant features
columns_to_drop = [feat for feat in train[cols] if train[feat].std() ==0]
columns_to_drop

['std_humidity',
 'var_humidity',
 'ptp_humidity',
 'std_temp_mean',
 'var_temp_mean',
 'ptp_temp_mean',
 'center_long',
 'day_1_sin',
 'day_1_cos',
 'day_2_sin',
 'day_2_cos',
 'day_7_sin',
 'day_7_cos',
 'hour',
 '3h']

In [ ]:
train.drop(columns = columns_to_drop, inplace = True)
test.drop(columns = columns_to_drop, inplace = True)

In [ ]:
train.shape, test.shape

((9923, 109), (4254, 109))

In [ ]:
test = test.drop(['pm2_5'], axis = 1)

In [ ]:
X  = train.drop(['ID','pm2_5'], axis = 1)
y = train['pm2_5']

#MODEL: CatBoostRegressor

In [ ]:
!pip install catboost --quiet

     |████████████████████████████████| 76.6 MB 1.2 MB/s

In [ ]:
from catboost import CatBoostRegressor
errcb2=[]
y_pred_totcb2=[]
from sklearn.model_selection import KFold,StratifiedKFold, TimeSeriesSplit
from sklearn.metrics import mean_squared_error
fold=KFold(n_splits=20)  #15#5#10
i=1
for train_index, test_index in fold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    catf = np.where(X_train.dtypes != float)[0]
    m2  = CatBoostRegressor(n_estimators=10000,eval_metric='MAE',learning_rate=0.175, random_seed= 1234, use_best_model=True)
    m2.fit(X_train,y_train,cat_features=catf,eval_set=[(X_train,y_train),(X_test, y_test)], early_stopping_rounds=200,verbose=100,)
    preds=m2.predict(X_test)
    print("err: ",np.sqrt(mean_squared_error(y_test,preds)))
    errcb2.append(np.sqrt(mean_squared_error(y_test,preds)))
    p2 = m2.predict(test.drop(["ID"],axis = 1))
    y_pred_totcb2.append(p2)
np.mean(errcb2)

0:	learn: 19.0162267	test: 18.9975308	test1: 17.9000976	best: 17.9000976 (0)	total: 101ms	remaining: 16m 50s
100:	learn: 7.3436738	test: 7.3181140	test1: 8.1370396	best: 8.1370396 (100)	total: 4.76s	remaining: 7m 47s
200:	learn: 6.2581924	test: 6.2381146	test1: 7.7311681	best: 7.7311655 (197)	total: 9.34s	remaining: 7m 35s
300:	learn: 5.5057739	test: 5.5052131	test1: 7.5955691	best: 7.5955691 (300)	total: 14s	remaining: 7m 29s
400:	learn: 4.8234352	test: 4.8359226	test1: 7.4739511	best: 7.4739511 (400)	total: 18.5s	remaining: 7m 23s
500:	learn: 4.2795525	test: 4.3153187	test1: 7.4011088	best: 7.4011088 (500)	total: 23.2s	remaining: 7m 20s
600:	learn: 3.8581968	test: 3.9114634	test1: 7.3752163	best: 7.3682036 (542)	total: 27.8s	remaining: 7m 15s
700:	learn: 3.4746593	test: 3.5489638	test1: 7.3751943	best: 7.3682036 (542)	total: 32.4s	remaining: 7m 10s
800:	learn: 3.1151109	test: 3.2038868	test1: 7.3857534	best: 7.3649586 (705)	total: 37.1s	remaining: 7m 5s
900:	learn: 2.8079867	test: 2.9081134	test1: 7.3653157	best: 7.3565426 (869)	total: 41.7s	remaining: 7m
1000:	learn: 2.5279968	test: 2.6409249	test1: 7.3795844	best: 7.3565426 (869)	total: 46.3s	remaining: 6m 56s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.356542633
bestIteration = 869

Shrink model to first 870 iterations.

err:  10.639382010225278
0:	learn: 18.9782837	test: 18.9597799	test1: 18.2983432	best: 18.2983432 (0)	total: 54.1ms	remaining: 9m 1s
100:	learn: 7.2989642	test: 7.2807054	test1: 8.8236005	best: 8.8236005 (100)	total: 4.66s	remaining: 7m 36s
200:	learn: 6.2349194	test: 6.2214639	test1: 8.5685924	best: 8.5461445 (195)	total: 9.26s	remaining: 7m 31s
300:	learn: 5.4726355	test: 5.4844551	test1: 8.4591519	best: 8.4482542 (292)	total: 13.8s	remaining: 7m 24s
400:	learn: 4.8122969	test: 4.8448633	test1: 8.3502418	best: 8.3502418 (400)	total: 18.4s	remaining: 7m 21s
500:	learn: 4.2556210	test: 4.3027142	test1: 8.3577161	best: 8.3028441 (471)	total: 23.1s	remaining: 7m 17s
600:	learn: 3.8111005	test: 3.8733223	test1: 8.3195269	best: 8.3028441 (471)	total: 27.8s	remaining: 7m 14s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 8.302844132
bestIteration = 471

Shrink model to first 472 iterations.

err:  13.689621561095098
0:	learn: 18.9500989	test: 18.9314435	test1: 18.9708408	best: 18.9708408 (0)	total: 54.3ms	remaining: 9m 3s
100:	learn: 7.3446104	test: 7.3311975	test1: 7.6310475	best: 7.6310475 (100)	total: 4.72s	remaining: 7m 42s
200:	learn: 6.2876865	test: 6.2721236	test1: 7.3190094	best: 7.3190094 (200)	total: 9.32s	remaining: 7m 34s
300:	learn: 5.5006384	test: 5.4999901	test1: 7.2741811	best: 7.2468075 (285)	total: 13.9s	remaining: 7m 26s
400:	learn: 4.8616689	test: 4.8766533	test1: 7.2206444	best: 7.2060009 (393)	total: 18.5s	remaining: 7m 22s
500:	learn: 4.3214565	test: 4.3639718	test1: 7.2349394	best: 7.1982161 (468)	total: 23.1s	remaining: 7m 18s
600:	learn: 3.8283236	test: 3.8892917	test1: 7.2007029	best: 7.1957363 (588)	total: 27.8s	remaining: 7m 14s
700:	learn: 3.4380624	test: 3.5158203	test1: 7.1855099	best: 7.1721853 (693)	total: 32.4s	remaining: 7m 10s
800:	learn: 3.0921349	test: 3.1849906	test1: 7.2260783	best: 7.1721853 (693)	total: 37.1s	remaining: 7m 5s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.17218532
bestIteration = 693

Shrink model to first 694 iterations.

err:  10.852373112462672
0:	learn: 18.8847126	test: 18.8835382	test1: 19.2982969	best: 19.2982969 (0)	total: 51.9ms	remaining: 8m 38s
100:	learn: 7.4556155	test: 7.4450812	test1: 8.1505952	best: 8.1430294 (99)	total: 4.6s	remaining: 7m 30s
200:	learn: 6.3620710	test: 6.3616738	test1: 7.7678919	best: 7.7660394 (199)	total: 9.15s	remaining: 7m 26s
300:	learn: 5.5159292	test: 5.5417452	test1: 7.5756211	best: 7.5699142 (297)	total: 13.7s	remaining: 7m 22s
400:	learn: 4.8846164	test: 4.9257315	test1: 7.4065886	best: 7.3963461 (394)	total: 18.3s	remaining: 7m 18s
500:	learn: 4.3330410	test: 4.3914741	test1: 7.3458365	best: 7.3458365 (500)	total: 22.9s	remaining: 7m 14s
600:	learn: 3.8846901	test: 3.9600633	test1: 7.3818474	best: 7.3304103 (507)	total: 27.6s	remaining: 7m 11s
700:	learn: 3.4826321	test: 3.5723821	test1: 7.3511552	best: 7.3304103 (507)	total: 32.2s	remaining: 7m 6s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.330410316
bestIteration = 507

Shrink model to first 508 iterations.

err:  10.600364482928537
0:	learn: 18.8872859	test: 18.8862358	test1: 18.6267717	best: 18.6267717 (0)	total: 52.7ms	remaining: 8m 46s
100:	learn: 7.3949548	test: 7.3888193	test1: 8.1825582	best: 8.1793773 (97)	total: 4.7s	remaining: 7m 40s
200:	learn: 6.3228759	test: 6.3264785	test1: 7.9059035	best: 7.8936461 (197)	total: 9.31s	remaining: 7m 33s
300:	learn: 5.5072228	test: 5.5180770	test1: 7.6900740	best: 7.6892534 (290)	total: 13.9s	remaining: 7m 27s
400:	learn: 4.8527967	test: 4.8741328	test1: 7.6045843	best: 7.5759907 (391)	total: 18.5s	remaining: 7m 22s
500:	learn: 4.2916342	test: 4.3281598	test1: 7.5801635	best: 7.5759907 (391)	total: 23.1s	remaining: 7m 18s
600:	learn: 3.7920970	test: 3.8384131	test1: 7.5093533	best: 7.5093533 (600)	total: 27.8s	remaining: 7m 14s
700:	learn: 3.3941455	test: 3.4634287	test1: 7.5023151	best: 7.4913847 (627)	total: 32.4s	remaining: 7m 10s
800:	learn: 3.0343864	test: 3.1238110	test1: 7.5485112	best: 7.4913847 (627)	total: 37.7s	remaining: 7m 12s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.491384727
bestIteration = 627

Shrink model to first 628 iterations.

err:  13.341239951925273
0:	learn: 18.9828035	test: 18.9813684	test1: 18.4846467	best: 18.4846467 (0)	total: 54.6ms	remaining: 9m 6s
100:	learn: 7.3700369	test: 7.3441709	test1: 8.5650702	best: 8.5644190 (99)	total: 4.67s	remaining: 7m 37s
200:	learn: 6.2380241	test: 6.2133655	test1: 8.2295937	best: 8.2295937 (200)	total: 9.32s	remaining: 7m 34s
300:	learn: 5.4146658	test: 5.4050849	test1: 8.1100218	best: 8.1071650 (292)	total: 14s	remaining: 7m 30s
400:	learn: 4.7480978	test: 4.7632303	test1: 8.0915679	best: 8.0706906 (348)	total: 18.7s	remaining: 7m 27s
500:	learn: 4.2193043	test: 4.2552235	test1: 8.0352423	best: 8.0269992 (467)	total: 23.3s	remaining: 7m 22s
600:	learn: 3.7735732	test: 3.8331254	test1: 8.0008465	best: 7.9942923 (594)	total: 28s	remaining: 7m 17s
700:	learn: 3.3600259	test: 3.4375580	test1: 7.9288308	best: 7.9221748 (697)	total: 32.6s	remaining: 7m 12s
800:	learn: 3.0135452	test: 3.1041944	test1: 7.8832805	best: 7.8796454 (798)	total: 37.3s	remaining: 7m 8s
900:	learn: 2.6836349	test: 2.7844399	test1: 7.8653516	best: 7.8615342 (883)	total: 42s	remaining: 7m 3s
1000:	learn: 2.4360291	test: 2.5469714	test1: 7.8565384	best: 7.8527140 (994)	total: 46.6s	remaining: 6m 59s
1100:	learn: 2.1998669	test: 2.3276128	test1: 7.8585690	best: 7.8453627 (1029)	total: 51.3s	remaining: 6m 54s
1200:	learn: 1.9822703	test: 2.1249836	test1: 7.8738518	best: 7.8453627 (1029)	total: 56s	remaining: 6m 50s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.84536273
bestIteration = 1029

Shrink model to first 1030 iterations.

err:  12.190099208935939
0:	learn: 18.8771393	test: 18.8743542	test1: 19.1912590	best: 19.1912590 (0)	total: 57.3ms	remaining: 9m 32s
100:	learn: 7.4616589	test: 7.4659757	test1: 8.8302078	best: 8.8302078 (100)	total: 4.7s	remaining: 7m 40s
200:	learn: 6.2241485	test: 6.2424821	test1: 8.4330132	best: 8.4330132 (200)	total: 9.4s	remaining: 7m 38s
300:	learn: 5.4233704	test: 5.4535258	test1: 8.3324855	best: 8.3262844 (298)	total: 14.1s	remaining: 7m 34s
400:	learn: 4.7990858	test: 4.8390592	test1: 8.3204875	best: 8.3062256 (314)	total: 18.7s	remaining: 7m 28s
500:	learn: 4.1846678	test: 4.2441626	test1: 8.2322470	best: 8.2322470 (500)	total: 23.4s	remaining: 7m 23s
600:	learn: 3.7115965	test: 3.7883790	test1: 8.1766908	best: 8.1639468 (594)	total: 28.1s	remaining: 7m 19s
700:	learn: 3.3338306	test: 3.4246970	test1: 8.1969680	best: 8.1639468 (594)	total: 32.8s	remaining: 7m 14s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 8.163946788
bestIteration = 594

Shrink model to first 595 iterations.

err:  12.727021449328468
0:	learn: 18.8558248	test: 18.8536674	test1: 19.4160559	best: 19.4160559 (0)	total: 55.2ms	remaining: 9m 11s
100:	learn: 7.3084866	test: 7.2894066	test1: 8.7626252	best: 8.7623753 (97)	total: 4.66s	remaining: 7m 36s
200:	learn: 6.3097323	test: 6.2997529	test1: 8.6069131	best: 8.6069131 (200)	total: 9.24s	remaining: 7m 30s
300:	learn: 5.3846641	test: 5.3836212	test1: 8.3701048	best: 8.3701048 (300)	total: 13.9s	remaining: 7m 27s
400:	learn: 4.7288513	test: 4.7586131	test1: 8.3331880	best: 8.3331880 (400)	total: 18.5s	remaining: 7m 22s
500:	learn: 4.1691152	test: 4.2139460	test1: 8.3097561	best: 8.2925357 (448)	total: 23.2s	remaining: 7m 19s
600:	learn: 3.7264597	test: 3.7857282	test1: 8.2567189	best: 8.2562593 (596)	total: 27.9s	remaining: 7m 16s
700:	learn: 3.3336857	test: 3.4055887	test1: 8.2552008	best: 8.2441742 (696)	total: 32.6s	remaining: 7m 12s
800:	learn: 2.9884089	test: 3.0762074	test1: 8.2650420	best: 8.2427003 (740)	total: 37.4s	remaining: 7m 9s
900:	learn: 2.7033641	test: 2.8031477	test1: 8.2859291	best: 8.2408939 (823)	total: 42s	remaining: 7m 4s
1000:	learn: 2.4467450	test: 2.5682407	test1: 8.2808368	best: 8.2408939 (823)	total: 46.9s	remaining: 7m 1s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 8.240893927
bestIteration = 823

Shrink model to first 824 iterations.

err:  21.456679243176314
0:	learn: 18.8958242	test: 18.8935917	test1: 18.5780116	best: 18.5780116 (0)	total: 53.9ms	remaining: 8m 58s
100:	learn: 7.4023650	test: 7.3923878	test1: 8.7523110	best: 8.7494150 (99)	total: 4.84s	remaining: 7m 54s
300:	learn: 5.4812269	test: 5.4987831	test1: 8.1443936	best: 8.1254633 (296)	total: 14.3s	remaining: 7m 39s
400:	learn: 4.8828550	test: 4.9214940	test1: 8.0463415	best: 8.0463415 (400)	total: 19s	remaining: 7m 34s
500:	learn: 4.2878669	test: 4.3413118	test1: 8.0567721	best: 8.0172627 (429)	total: 23.8s	remaining: 7m 30s
600:	learn: 3.7850861	test: 3.8545016	test1: 8.0648984	best: 8.0172627 (429)	total: 28.6s	remaining: 7m 27s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 8.017262711
bestIteration = 429

Shrink model to first 430 iterations.

err:  12.60210391410721
0:	learn: 19.0188205	test: 19.0162566	test1: 18.0410098	best: 18.0410098 (0)	total: 54ms	remaining: 9m
100:	learn: 7.4616130	test: 7.4673098	test1: 7.9460396	best: 7.9362805 (97)	total: 4.8s	remaining: 7m 50s
200:	learn: 6.3688663	test: 6.3902688	test1: 7.6491781	best: 7.6444874 (198)	total: 9.45s	remaining: 7m 40s
300:	learn: 5.5554585	test: 5.5891374	test1: 7.6160128	best: 7.5900668 (251)	total: 14.1s	remaining: 7m 33s
400:	learn: 4.8606637	test: 4.9035870	test1: 7.4381164	best: 7.4322429 (379)	total: 18.8s	remaining: 7m 30s
500:	learn: 4.2940632	test: 4.3575070	test1: 7.4382475	best: 7.3924729 (433)	total: 23.5s	remaining: 7m 26s
600:	learn: 3.8401204	test: 3.9340237	test1: 7.3475531	best: 7.3433811 (588)	total: 28.3s	remaining: 7m 22s
700:	learn: 3.4289755	test: 3.5343004	test1: 7.3047487	best: 7.3038817 (697)	total: 33s	remaining: 7m 17s
800:	learn: 3.0880560	test: 3.2076577	test1: 7.2866226	best: 7.2786761 (784)	total: 37.7s	remaining: 7m 13s
900:	learn: 2.7831187	test: 2.9186099	test1: 7.3159101	best: 7.2786761 (784)	total: 42.5s	remaining: 7m 9s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.278676129
bestIteration = 784

Shrink model to first 785 iterations.

err:  10.64580836968439
0:	learn: 18.8011355	test: 18.7992860	test1: 20.1749471	best: 20.1749471 (0)	total: 53.8ms	remaining: 8m 57s
100:	learn: 7.3965242	test: 7.4000026	test1: 9.6188426	best: 9.6188426 (100)	total: 4.7s	remaining: 7m 40s
200:	learn: 6.3249959	test: 6.3360578	test1: 9.3194633	best: 9.3026814 (184)	total: 9.97s	remaining: 8m 6s
300:	learn: 5.5469131	test: 5.5797913	test1: 9.0722115	best: 9.0722115 (300)	total: 14.7s	remaining: 7m 52s
400:	learn: 4.8896930	test: 4.9407419	test1: 9.0187908	best: 9.0074418 (373)	total: 19.3s	remaining: 7m 42s
500:	learn: 4.2985778	test: 4.3651537	test1: 8.9039118	best: 8.9039118 (500)	total: 24s	remaining: 7m 34s
600:	learn: 3.8111475	test: 3.8936304	test1: 8.9288212	best: 8.8471148 (540)	total: 28.8s	remaining: 7m 29s
700:	learn: 3.4110135	test: 3.5125757	test1: 8.9259910	best: 8.8471148 (540)	total: 33.6s	remaining: 7m 25s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 8.847114758
bestIteration = 540

Shrink model to first 541 iterations.

err:  15.856780736738589
0:	learn: 18.9428035	test: 18.9406042	test1: 19.8266613	best: 19.8266613 (0)	total: 54.1ms	remaining: 9m
100:	learn: 7.4291290	test: 7.4206367	test1: 7.9681062	best: 7.9681062 (100)	total: 4.63s	remaining: 7m 33s
200:	learn: 6.3794936	test: 6.3948042	test1: 7.6241060	best: 7.6227160 (199)	total: 9.21s	remaining: 7m 29s
300:	learn: 5.5550188	test: 5.5865996	test1: 7.5269231	best: 7.5269231 (300)	total: 13.8s	remaining: 7m 25s
400:	learn: 4.8660676	test: 4.9107693	test1: 7.4351956	best: 7.4351956 (400)	total: 18.6s	remaining: 7m 24s
500:	learn: 4.3211869	test: 4.3904215	test1: 7.4605301	best: 7.4134103 (413)	total: 23.2s	remaining: 7m 20s
600:	learn: 3.8768626	test: 3.9612495	test1: 7.3999428	best: 7.3980276 (597)	total: 27.9s	remaining: 7m 16s
700:	learn: 3.4632945	test: 3.5590630	test1: 7.3872883	best: 7.3676311 (690)	total: 32.6s	remaining: 7m 12s
800:	learn: 3.0904429	test: 3.2074438	test1: 7.3665345	best: 7.3531290 (780)	total: 37.3s	remaining: 7m 8s
900:	learn: 2.7771387	test: 2.9086979	test1: 7.3833891	best: 7.3531290 (780)	total: 41.9s	remaining: 7m 3s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.353129048
bestIteration = 780

Shrink model to first 781 iterations.

err:  11.078953268697697
0:	learn: 18.9729776	test: 18.9709410	test1: 18.7921083	best: 18.7921083 (0)	total: 53.1ms	remaining: 8m 50s
100:	learn: 7.4018592	test: 7.3978407	test1: 7.9859803	best: 7.9708315 (99)	total: 4.74s	remaining: 7m 44s
200:	learn: 6.3204335	test: 6.3184847	test1: 7.7529129	best: 7.7404785 (199)	total: 9.45s	remaining: 7m 40s
300:	learn: 5.5148636	test: 5.5479865	test1: 7.6698153	best: 7.6558058 (291)	total: 14.1s	remaining: 7m 33s
400:	learn: 4.8938924	test: 4.9350406	test1: 7.5708691	best: 7.5705242 (399)	total: 18.7s	remaining: 7m 28s
500:	learn: 4.3177086	test: 4.3845192	test1: 7.4989909	best: 7.4959639 (495)	total: 23.4s	remaining: 7m 23s
600:	learn: 3.8554119	test: 3.9332620	test1: 7.4689613	best: 7.4536194 (560)	total: 28.1s	remaining: 7m 19s
700:	learn: 3.4356285	test: 3.5260905	test1: 7.4388444	best: 7.4369978 (672)	total: 32.8s	remaining: 7m 15s
800:	learn: 3.0555600	test: 3.1552128	test1: 7.4000568	best: 7.3933139 (791)	total: 37.4s	remaining: 7m 9s
900:	learn: 2.7472866	test: 2.8690762	test1: 7.4053219	best: 7.3933139 (791)	total: 42.1s	remaining: 7m 4s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.393313925
bestIteration = 791

Shrink model to first 792 iterations.

err:  10.693324899462327
0:	learn: 19.0053689	test: 19.0031911	test1: 18.3835034	best: 18.3835034 (0)	total: 53.9ms	remaining: 8m 58s
100:	learn: 7.5591781	test: 7.5638688	test1: 8.9641079	best: 8.9641079 (100)	total: 4.69s	remaining: 7m 39s
200:	learn: 6.3459544	test: 6.3551996	test1: 8.4973709	best: 8.4752271 (184)	total: 9.3s	remaining: 7m 33s
300:	learn: 5.4639120	test: 5.4833012	test1: 8.2624241	best: 8.2599004 (299)	total: 14s	remaining: 7m 30s
400:	learn: 4.7817901	test: 4.8178916	test1: 8.1551206	best: 8.1498459 (394)	total: 18.8s	remaining: 7m 28s
500:	learn: 4.2734864	test: 4.3299030	test1: 8.0854952	best: 8.0818012 (483)	total: 23.5s	remaining: 7m 25s
600:	learn: 3.8015036	test: 3.8677598	test1: 8.0285358	best: 8.0050167 (583)	total: 28.3s	remaining: 7m 21s
700:	learn: 3.4069598	test: 3.4903595	test1: 8.0184107	best: 7.9992409 (658)	total: 33s	remaining: 7m 17s
800:	learn: 3.0485736	test: 3.1451806	test1: 7.9961216	best: 7.9915640 (783)	total: 37.8s	remaining: 7m 13s
900:	learn: 2.7531313	test: 2.8656286	test1: 7.9903198	best: 7.9903198 (900)	total: 42.5s	remaining: 7m 8s
1000:	learn: 2.4866169	test: 2.6169352	test1: 7.9728647	best: 7.9707126 (995)	total: 47.2s	remaining: 7m 4s
1100:	learn: 2.2442130	test: 2.3914465	test1: 7.9831817	best: 7.9691850 (1004)	total: 51.9s	remaining: 6m 59s
1200:	learn: 2.0217230	test: 2.1891410	test1: 7.9899740	best: 7.9691850 (1004)	total: 56.7s	remaining: 6m 55s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.969184963
bestIteration = 1004

Shrink model to first 1005 iterations.

err:  12.193567465568012
0:	learn: 18.9325078	test: 18.9306280	test1: 19.6634807	best: 19.6634807 (0)	total: 54.7ms	remaining: 9m 6s
100:	learn: 7.3851186	test: 7.3968462	test1: 8.1505053	best: 8.1505053 (100)	total: 4.65s	remaining: 7m 35s
200:	learn: 6.2701442	test: 6.2859851	test1: 7.7515488	best: 7.7515488 (200)	total: 9.32s	remaining: 7m 34s
300:	learn: 5.4497965	test: 5.4830634	test1: 7.5325488	best: 7.5148110 (281)	total: 13.9s	remaining: 7m 29s
400:	learn: 4.7585238	test: 4.8133910	test1: 7.4395209	best: 7.4161105 (387)	total: 18.7s	remaining: 7m 26s
500:	learn: 4.2293239	test: 4.2965590	test1: 7.3799959	best: 7.3741192 (492)	total: 23.4s	remaining: 7m 22s
600:	learn: 3.7684169	test: 3.8464426	test1: 7.3704265	best: 7.3620559 (594)	total: 28.1s	remaining: 7m 19s
700:	learn: 3.3754845	test: 3.4676691	test1: 7.4004613	best: 7.3523362 (611)	total: 32.8s	remaining: 7m 15s
800:	learn: 3.0323119	test: 3.1391651	test1: 7.4092799	best: 7.3523362 (611)	total: 37.6s	remaining: 7m 11s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.352336155
bestIteration = 611

Shrink model to first 612 iterations.

err:  12.359286462939078
0:	learn: 18.9948471	test: 18.9929141	test1: 18.5360770	best: 18.5360770 (0)	total: 54.4ms	remaining: 9m 3s
100:	learn: 7.4094877	test: 7.3960188	test1: 8.5485005	best: 8.5485005 (100)	total: 5.38s	remaining: 8m 47s
200:	learn: 6.2523340	test: 6.2366856	test1: 8.1414465	best: 8.1097280 (189)	total: 10.1s	remaining: 8m 11s
300:	learn: 5.4542742	test: 5.4648133	test1: 8.0582718	best: 8.0310455 (294)	total: 14.8s	remaining: 7m 56s
400:	learn: 4.7977395	test: 4.8241015	test1: 8.0319913	best: 8.0239713 (320)	total: 19.5s	remaining: 7m 46s
500:	learn: 4.2670613	test: 4.3215593	test1: 8.0154557	best: 7.9950810 (429)	total: 24.2s	remaining: 7m 38s
600:	learn: 3.8007027	test: 3.8763003	test1: 7.9675113	best: 7.9524994 (553)	total: 28.9s	remaining: 7m 31s
700:	learn: 3.3952497	test: 3.4916524	test1: 7.9590427	best: 7.9415538 (615)	total: 33.7s	remaining: 7m 26s
800:	learn: 3.0225402	test: 3.1362797	test1: 7.9173465	best: 7.9173465 (800)	total: 38.4s	remaining: 7m 21s
900:	learn: 2.7274596	test: 2.8511753	test1: 7.9113134	best: 7.9051761 (887)	total: 43.1s	remaining: 7m 15s
1000:	learn: 2.4505092	test: 2.5891969	test1: 7.9358927	best: 7.9051761 (887)	total: 47.8s	remaining: 7m 9s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.905176068
bestIteration = 887

Shrink model to first 888 iterations.

err:  11.322456699372257
0:	learn: 18.8909955	test: 18.8894851	test1: 18.5841993	best: 18.5841993 (0)	total: 54.2ms	remaining: 9m 1s
100:	learn: 7.3736110	test: 7.3708661	test1: 8.5795192	best: 8.5669281 (97)	total: 4.73s	remaining: 7m 43s
200:	learn: 6.3563334	test: 6.3626259	test1: 8.2547892	best: 8.2547892 (200)	total: 9.4s	remaining: 7m 38s
300:	learn: 5.5860495	test: 5.6131095	test1: 8.1712453	best: 8.1527862 (282)	total: 14s	remaining: 7m 32s
400:	learn: 4.8443625	test: 4.8891551	test1: 8.0232779	best: 8.0182509 (397)	total: 18.7s	remaining: 7m 27s
500:	learn: 4.3109930	test: 4.3696272	test1: 7.9665713	best: 7.9504622 (484)	total: 23.4s	remaining: 7m 23s
600:	learn: 3.7991019	test: 3.8719095	test1: 7.9266079	best: 7.9266079 (600)	total: 28.1s	remaining: 7m 19s
700:	learn: 3.3850220	test: 3.4711168	test1: 7.9341963	best: 7.9043042 (616)	total: 32.8s	remaining: 7m 15s
800:	learn: 3.0427104	test: 3.1420350	test1: 7.8546425	best: 7.8423613 (792)	total: 37.6s	remaining: 7m 11s
900:	learn: 2.7113171	test: 2.8258380	test1: 7.7973062	best: 7.7958852 (894)	total: 42.2s	remaining: 7m 6s
1000:	learn: 2.4544361	test: 2.5831505	test1: 7.8164282	best: 7.7828330 (932)	total: 46.9s	remaining: 7m 1s
1100:	learn: 2.2131842	test: 2.3559316	test1: 7.8218721	best: 7.7828330 (932)	total: 51.6s	remaining: 6m 56s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.782832995
bestIteration = 932

Shrink model to first 933 iterations.

err:  11.425919153850762
0:	learn: 18.9219170	test: 18.9197851	test1: 19.6363573	best: 19.6363573 (0)	total: 53.4ms	remaining: 8m 54s
100:	learn: 7.4404453	test: 7.4381126	test1: 8.9059738	best: 8.9059738 (100)	total: 4.69s	remaining: 7m 40s
200:	learn: 6.2745046	test: 6.2798266	test1: 8.5156488	best: 8.5156488 (200)	total: 9.32s	remaining: 7m 34s
300:	learn: 5.4948248	test: 5.5290798	test1: 8.2903782	best: 8.2894824 (299)	total: 13.9s	remaining: 7m 27s
400:	learn: 4.8687577	test: 4.9198935	test1: 8.1069774	best: 8.1024431 (398)	total: 18.6s	remaining: 7m 24s
500:	learn: 4.3076687	test: 4.3896234	test1: 8.0688686	best: 8.0614982 (452)	total: 23.2s	remaining: 7m 20s
600:	learn: 3.8102602	test: 3.9150271	test1: 8.0951051	best: 8.0614982 (452)	total: 27.9s	remaining: 7m 15s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 8.06149817
bestIteration = 452

Shrink model to first 453 iterations.

err:  11.842532914623352
0:	learn: 18.9344956	test: 18.9326684	test1: 19.4456434	best: 19.4456434 (0)	total: 55.8ms	remaining: 9m 17s
100:	learn: 7.4497745	test: 7.4482660	test1: 8.1104051	best: 8.1104051 (100)	total: 4.68s	remaining: 7m 38s
200:	learn: 6.3810908	test: 6.3874612	test1: 7.8507464	best: 7.8495847 (199)	total: 9.23s	remaining: 7m 29s
300:	learn: 5.5196806	test: 5.5367227	test1: 7.5966400	best: 7.5966400 (300)	total: 13.8s	remaining: 7m 26s
400:	learn: 4.8544471	test: 4.8893533	test1: 7.6220478	best: 7.5488674 (335)	total: 18.4s	remaining: 7m 21s
500:	learn: 4.2917280	test: 4.3451323	test1: 7.5863159	best: 7.5488674 (335)	total: 23s	remaining: 7m 16s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.548867355
bestIteration = 335

Shrink model to first 336 iterations.

err:  10.839257827397718
0:	learn: 18.8773540	test: 18.8759242	test1: 18.8304280	best: 18.8304280 (0)	total: 53.5ms	remaining: 8m 55s
100:	learn: 7.3141357	test: 7.2946595	test1: 8.4758994	best: 8.4758994 (100)	total: 4.71s	remaining: 7m 41s
200:	learn: 6.2989518	test: 6.2834939	test1: 8.3132910	best: 8.3132910 (200)	total: 9.29s	remaining: 7m 32s
300:	learn: 5.4072663	test: 5.4112144	test1: 8.1317764	best: 8.1262453 (296)	total: 13.9s	remaining: 7m 28s
400:	learn: 4.7581312	test: 4.7898979	test1: 8.0231873	best: 8.0200149 (399)	total: 18.5s	remaining: 7m 23s
500:	learn: 4.2160926	test: 4.2671062	test1: 8.0077385	best: 7.9811478 (464)	total: 23.2s	remaining: 7m 19s
600:	learn: 3.7674735	test: 3.8340969	test1: 7.9132723	best: 7.9089537 (599)	total: 27.8s	remaining: 7m 15s
700:	learn: 3.3635693	test: 3.4470028	test1: 7.8646388	best: 7.8600763 (687)	total: 32.5s	remaining: 7m 10s
800:	learn: 2.9975401	test: 3.1028465	test1: 7.8486230	best: 7.8356752 (787)	total: 37s	remaining: 7m 5s
900:	learn: 2.6857105	test: 2.8009041	test1: 7.8597082	best: 7.8314666 (818)	total: 41.6s	remaining: 7m
1000:	learn: 2.4074429	test: 2.5352777	test1: 7.8393225	best: 7.8303295 (984)	total: 46.1s	remaining: 6m 54s
1100:	learn: 2.1742130	test: 2.3157778	test1: 7.8642196	best: 7.8266138 (1018)	total: 50.7s	remaining: 6m 49s
1200:	learn: 1.9840316	test: 2.1392302	test1: 7.8690415	best: 7.8266138 (1018)	total: 55.9s	remaining: 6m 49s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 7.826613779
bestIteration = 1018

Shrink model to first 1019 iterations.

err:  11.063317838755115

12.371004528563706

In [ ]:
np.mean(errcb2)
d = {'ID': test_id, 'pm2_5': np.mean(y_pred_totcb2, 0)}
sub = pd.DataFrame(data=d)
sub = sub[['ID', 'pm2_5']]
sub.to_csv("catboost_sub.csv",index  = False)
sub.pm2_5.min(),sub.pm2_5.max()
sub.head()

12.371004528563706

(25.334528787108827, 87.3422465271084)

              ID      pm2_5
0  ID_UOH62J0XHX  41.295332
1  ID_4OPWSB0UHJ  67.046616
2  ID_3SLMNNG1Z3  42.223459
3  ID_MFUHTXYPM4  60.363134
4  ID_TY1DAND8ZP  57.382530

In [ ]:
sub.to_csv("catboost_sub.csv",index  = False)
from google.colab import files
files.download("catboost_sub.csv")    # 15.2133 on LB